
#root{
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
  
  padding: 0px 20px 50px 160px;
  
}

.childs {
  display: flex;
  width: 32%;
  margin-top: 1.5rem;
  align-items: center;
  

}


.childs span {
  height: 4.4rem;
  font-size: 2.5rem;
  margin-right: 1.8rem;
  border: 1px solid;
  display: flex;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 2px #888;
  padding: 0.1em 0.5em;
  color: blue;
}
.text p{
  width: 75%;
}
@media (min-width: 300px) and (max-width: 900px) {
  .container {
    padding: 0.8rem;
    width: 100%;
  }
  .childs {
    width: 90%;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .container {
    display: flex;
    width: 100%;
  }
  .childs {
    margin-right: 50px;
    width: 100%;
    width: calc(40% - 25px);
    font-size: 15px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 50px 50px 50px;
    
  }
  
  .childs {
    display: flex;
    width: calc(40% - 7.3rem);
    margin-top: 1.5rem;
    align-items: center;
  }
  
  
  .childs span {
    height: 4.4rem;
    font-size: 2.5rem;
    margin-right: 1.8rem;
    border: 1px solid;
    display: flex;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0 0 2px #888;
    padding: 0.1em 0.5em;
    color: blue;
  }
  
}